<template>
    <v-row>
        <v-col cols="12" xs="12" sm="6" md="4">
            <Orderbook v-if="widgets.orderbook" />
        </v-col>

        <v-col cols="12" xs="12" sm="6" md="4">
            <DetailOrderbook v-if="widgets.detailOrderbook" />
        </v-col>

        <v-col cols="12" xs="12" sm="6" md="4">
            <FullOrderbook v-if="widgets.fullOrderbook" />
        </v-col>

        <v-col cols="12" xs="12" sm="12" md="6">
            <Ticker v-if="widgets.ticker" />
        </v-col>

        <v-col cols="12" xs="12" sm="12" md="6">
            <Orders v-if="widgets.orders" />
        </v-col>
    </v-row>
</template>

<script>
    import Orderbook from "../components/Orderbook";
    import Ticker from "../components/Ticker";
    import Orders from "../components/Orders";
    import DetailOrderbook from "../components/DetailOrderbook";
    import FullOrderbook from "../components/FullOrderbook";

    export default {
        name: 'Home',
        components: {FullOrderbook, DetailOrderbook, Orders, Ticker, Orderbook},
        data: () => ({

        }),
        computed: {
            widgets() {
                return this.$store.state.widgets
            }
        }
    }
</script>
