<template>
    <Widget title="live orders">
        <v-simple-table dense height="350" fixed-header>
            <template v-slot:default>
                <thead>
                <tr>
                    <th class="text-left">Amount</th>
                    <th class="text-left">Price</th>
                    <th class="text-left">Type</th>
                    <th class="text-right">Timestamp</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in items" :key="index">
                    <td>{{ Number(item.amount).toFixed(2) }}</td>
                    <td>{{ Number(item.price).toFixed(2) }}</td>
                    <td>{{ item.type === 0 ? 'Buy' : 'Sell' }}</td>
                    <td class="text-right">{{ new Date(Number(item.datetime)).toLocaleTimeString() }}</td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>
    </Widget>
</template>

<script>
    import {from} from "rxjs";
    import {tap} from "rxjs/operators";
    import Widget from "./Widget";

    export default {
        name: "Orders",
        components: {Widget},
        data: () => ({
            items: []
        }),
        watch: {
            currency () {
                this.items = []
            }
        },
        computed: {
            currency () {
                return this.$store.state.currency
            }
        },
        subscriptions() {
            const subject = from(this.$bitstamp.getOrders()).pipe(
                tap(data => {
                    if (data !== null || data !== undefined) {
                        if (Object.keys(data).length !== 0) {
                            if (data.event === 'order_created') {
                                this.items.unshift(data.data)
                            } else if (data.event === 'order_deleted') {
                                const index = this.items.findIndex(item => item.id === data.id);

                                this.items.splice(index, 1)
                            } else if (data.event === 'order_changed ') {
                                const index = this.items.findIndex(item => item.id === data.id);

                                this.$set(this.items, index, data.data)
                            }
                        }
                    }
                })
            )

            return {
                item$: subject
            }
        }
    }
</script>

<style scoped>

</style>