<template>
    <Widget title="live orderbook">
        <v-simple-table dense height="350" fixed-header>
            <template v-slot:default>
                <thead>
                <tr>
                    <th class="text-left">Bid Volume</th>
                    <th class="text-left">Bid Price</th>
                    <th class="text-left">Ask Price</th>
                    <th class="text-right">Ask Volume</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in data$" :key="index">
                    <td>{{ Number(item.volume.bid).toFixed(2) }}</td>
                    <td>{{ Number(item.price.bid).toFixed(2) }}</td>
                    <td>{{ Number(item.price.bid).toFixed(2) }}</td>
                    <td class="text-right">{{ Number(item.volume.ask).toFixed(2) }}</td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>
    </Widget>
</template>

<script>
    import Widget from "./Widget";
    export default {
        name: "Orderbook",
        components: {Widget},
        subscriptions() {
            return {
                data$: this.$bitstamp.getOrderbook()
            }
        }
    }
</script>

<style lang="scss">

</style>