<template>
   <Widget title="live ticker">
       <v-simple-table dense height="350" fixed-header>
           <template v-slot:default>
               <thead>
               <tr>
                   <th class="text-left">Amount</th>
                   <th class="text-left">Price</th>
                   <th class="text-left">Type</th>
                   <th class="text-right">Timestamp</th>
               </tr>
               </thead>
               <tbody>
               <tr v-for="(item, index) in items" :key="index">
                   <td>{{ item.amount.toFixed(4) }}</td>
                   <td>{{ item.price }}</td>
                   <td>{{ item.type === 0 ? 'Buy' : 'Sell' }}</td>
                   <td class="text-right">{{ new Date(Number(item.timestamp)).toLocaleTimeString() }}</td>
               </tr>
               </tbody>
           </template>
       </v-simple-table>
   </Widget>
</template>

<script>
    import {tap} from "rxjs/operators";
    import {from} from "rxjs";
    import Widget from "./Widget";

    export default {
        name: "Ticker",
        components: {Widget},
        data: () => ({
            items: []
        }),
        watch: {
            currency () {
                this.items = []
            }
        },
        computed: {
            currency () {
                return this.$store.state.currency
            }
        },
        subscriptions() {
            const subject = from(this.$bitstamp.getTicker()).pipe(
                tap(data => {
                    if (data !== null || data !== undefined) {
                        if (Object.keys(data).length !== 0) {
                            this.items.unshift(data);

                            if (this.items.length > 50) {
                                this.items.splice(-1)
                            }
                        }
                    }
                })
            )

            return {
                item$: subject
            }
        }
    }
</script>

<style lang="scss">

</style>