<template>
    <v-card>
        <v-toolbar flat dense>
            <v-toolbar-title class="title text-uppercase">{{title}}</v-toolbar-title>
        </v-toolbar>

        <v-divider />

        <slot />
    </v-card>
</template>

<script>
    export default {
        name: "Widget",
        props: {
            title: String
        }
    }
</script>

<style scoped>

</style>