<template>
    <v-app>
        <v-app-bar app color="primary" dark extended dense>
            <!--      <v-app-bar-nav-icon />-->
            <v-toolbar-title class="text-uppercase">Crypto realtime data</v-toolbar-title>

            <template v-slot:extension>
                <v-menu offset-y :close-on-content-click="false">
                    <template v-slot:activator="{ on }">
                        <v-btn small height="38" light class="mr-3" v-on="on">
                            <v-icon left>dashboard</v-icon>
                            customize
                        </v-btn>
                    </template>

                    <v-list dense>
                        <v-list-item v-for="widget in widgets" @click="toggleWidget(widget.key, widget.show)">
                            <v-list-item-action class="my-1 mr-1">
                                <v-checkbox :input-value="widget.show" readonly dense/>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title class="text-uppercase">{{widget.name}}</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-menu>

                <v-spacer/>

                <div class="title mr-3">Currency:</div>

                <v-select
                        light v-model="currency"
                        item-text="name"
                        item-value="value"
                        :items="currencies"
                        placeholder="Currency"
                        style="max-width: 190px"
                        solo dense hide-details
                />
            </template>
        </v-app-bar>

        <v-content>
            <v-container fluid>
                <router-view/>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: 'App',
        data: () => ({
            //
        }),
        watch: {
            currency: {
                handler(currency) {
                    this.$bitstamp.changeCurrency(currency)
                },
                immediate: true
            }
        },
        computed: {
            currencies() {
                let list = [];
                let currencies = this.$bitstamp.CURRENCIES;

                for (let name in currencies) {
                    list.push({
                        name: name,
                        value: currencies[name]
                    })
                }

                return list
            },

            currency: {
                get() {
                    return this.$store.state.currency
                },
                set(value) {
                    this.$store.commit('setCurrency', value)
                }
            },

            widgets() {
                const names = {
                    ticker: 'live ticker',
                    orders: 'live orders',
                    orderbook: 'live orderbook',
                    detailOrderbook: 'live detail orderbook',
                    fullOrderbook: 'live full orderbook'
                };

                const list = [];
                const set = this.$store.state.widgets;

                for (let widget in set) {
                    list.push({name: names[widget], key: widget, show: set[widget]})
                }

                return list
            }
        },
        methods: {
            toggleWidget(key, show) {
                this.$store.commit('toggleWidget', {
                    name: key, value: !show
                })
            }
        }
    };
</script>
